.hero {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../../assets/images/BackgroundImage.png") center/cover,
              #FFD700;
  background-blend-mode: multiply;
  filter: blur(2px);
  z-index: 0;
}

.textTop,
.textBottom {
  position: relative;
  font-family: 'Bayon';
  font-size: 200px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0%;
  z-index: 3;
  -webkit-text-stroke: 3px #DDDDDD;
  text-stroke: 3px #DDDDDD;
  color: black;
  background: transparent;
}

.textTop {
  top: 100px;
}

.textBottom {
  top: -100px;
}

.van {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  display: block;
  position: relative;
  z-index: 2;
}
